*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PaymentMode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgb(7, 102, 236) , #6ba9dc); 
}

.PaymentMode .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
    background-color: white;
    height: 400px;
    width: 540px;
    border-radius: 20px;
    box-shadow: 0pc 2px 10px rgba(0,0,0,0.3); 
}

.PaymentMode .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.PaymentMode .redirect-btn{
    background-color: rgb(7, 102, 236);
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.2s ease-in-out; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 400px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0pc 2px 10px rgba(0,0,0,0.3); 
    padding: 10px;
    
}


.PaymentMode .icon:first-child{
    width: 32px;
    height: auto;
    transform: translateX(-100px);
}
.PaymentMode .redirect-btn:hover{
    background-color: rgb(70, 131, 217);
}
