.pie-chart {
    width: 600px;
    margin: 0 auto;
    transform: translateY(100px);
}

.radar-chart {
    width: 600px;
    margin: 0 auto;
    transform: translateY(100px);
}


.line-chart {
    width: 1000px;
    margin: 0 auto;
    transform: translateY(100px);
    border-radius: 10px;
    box-shadow: 0pc 2px 10px rgba(0, 0, 0, 0.2);
}

.charts {
    /* padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0pc 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(60px); */
    /* width: 1000px; */
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 80vw;
    padding: 40px;
}