version: '3'   
services:
  frontend:
    build: frontend
    
    ports:
      - 3000:3000
  
    stdin_open: true
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      -  authentification
      -  service-stripe

  authentification:
    build: backend/auth
    ports:
       - 3001:3001
    
    container_name: authentification
    volumes:
      - ./backend/auth:/app
      - /app/node_modules
    depends_on:
      -  service-blockchaingpt

  service-blockchaingpt:
    build: backend/blockchain_gpt
    ports:
       - 3040:3040
    
    container_name: blockchain_gpt
    volumes:
      - ./backend/blockchain_gpt:/app
      - /app/node_modules

  service-stripe:
    build: backend/stripe
    ports:
      - 3002:3002
    
    container_name: stripe
    volumes:
      - ./backend/stripe:/app
      - /app/node_modules

  service-chatdata:
    build: backend/chatdata
    ports:
      - 3005:3005
    
    container_name: chatdata
    volumes:
      - ./backend/chatdata:/app
      - /app/node_modules
    


    