/* 
  
  @keyframes terminal-glitch {
    0% {
      transform: scale(1, 1.5);
    }
    50% {
      transform: scale(1, 1.2);
    }
    100% {
      transform: scale(1.2, 1);
    }
  }
  
  .terminal-glitch {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 64, 0.1);
    background: radial-gradient(ellipse at center, #8e4c37 0%, #f6ff01 100%);
    transform-origin: 50% 50%;
    transform: scale(1.03);
    opacity: 0.4;
    position: fixed;
    z-index: -1;
  }
  
  .terminal {
    position: absolute;
    z-index: 1;
    padding: 15px;
    top: 3%;
    right: 3%;
    bottom: 3%;
    left: 3%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #b1803e;
    border-radius: 25px;
    border: 8px solid;
   border-color: #7d5b2d ;
    box-shadow: inset 0 0 10rem #020202, inset 0 0 3rem black, 0 0 10rem black;
  }
  
  .terminal::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #212121;
  }


  .bitcoin-chart{
    position: relative;
    max-height: 300px;
    width: 1000px;
  }
  .pie-chart{
      height: 400px;
      width: 400px;
  }
  .terminal::-webkit-scrollbar {
    width: 10px;
    background-color: #3d3d3d;
  }
  
  .terminal::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    background-color: #444;
  }
  
  @keyframes type {
    from {
      width: 0ch;
    }
    to {
      width: 54ch;
    }
  }
  
  .terminal-output div { 
    font-size: 24px;
    margin: 1px 0;
    overflow: hidden;
    color: white;
    font-family: "VT323", monospace;
    word-wrap: break-word;
  }
  
  .terminal-output { 
    margin-top: 65px;
  }
  .terminal-input-container {
    display: flex;
    align-items: center;
  }
  
  .terminal-input-container input {
    margin-top: 60px;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    font-family: "VT323", monospace;
  }
  
  .terminal-prompt {
    margin-top: 50px;
    color: #f6ff01;
    font-size: 24px;
    font-family: "VT323", monospace;
    margin-right: 5px;
  }

  
  #btn, .signout {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: #eee;

    font-size: 16px;
    font-family: 'arial';
    transition: 1s;

    font-size: 20px;
    font-family: 'ariel';

    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    font-weight: 500;
  }
  
  

   .temp{
    width: 400px;
    transform: translateX(-100px);
   }



   .top-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    width: 320px;
    background-color: #b1803e;
    border: 8px solid #7d5b2d;
    border-radius: 25px;
    box-shadow: inset 0 0 10rem #020202, inset 0 0 1rem black, 0 0 4rem black;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .labelContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .labelText {
    margin-left: 16px;
    color: white;
    font-size: 16px;
    font-family: 'arial';
    display: flex;
    align-items: center;
    padding-top: 5px;
  }
  

  .top-right{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    height: 90px;
    width: 225px;
    background-color: #b1803e;
    border: 8px solid #7d5b2d;
    border-radius: 25px;
    box-shadow: inset 0 0 10rem #020202, inset 0 0 1rem black, 0 0 4rem black;

    position: absolute;
    top: -7px;
    right: -8px;
  }
  .signout{

  }

   .signout {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'ariel';
  } 
  */


  body{
    background-color: var(--color3);

  }
  .terminal{

    display: flex;
    flex-direction: row;
    color: white;
  }

  .terminal .input-output{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

  }

  .terminal .cmd-line{
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 16px;
    justify-content: start;
    align-items: star;
    margin-left: 32px;
  }

  .terminal .output-result{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 28px;
  }

  .terminal .input-cmd{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin-left: 32px;
  }

  .terminal .line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 1.1em;
  }

  .terminal .prompt{
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    font-size: 1.1em;
  }
  .bitcoin-chart{
    width: 100%;
  }
  .input-output.main-content-full {
    margin-left: 0; 
    width: 100%; 
  }
  

  @media (min-width: 768px) {
    .mobile-hamburger {
      display: none;
    }
  }
  