body{
  background-color: var(--color3);
}
  

  .terminal{

    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
    color: white;
  }

  .terminal .input-output{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

  }

.terminal .cmd-line {
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 16px;
  justify-content: start;
  align-items: star;
  margin-left: 32px;
}

.terminal .output-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-top: 28px;
}

.terminal .input-cmd {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  margin-left: 32px;
}

.terminal .line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  font-size: 1.1em;
}

  .terminal .prompt{
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    font-size: 1.1em;
  }
  .bitcoin-chart{
    width: 100%;
  }

  .input-output.main-content-full {
    margin-left: 0; 
    width: 100%; 
  }
  

  @media (min-width: 768px) {
    .mobile-hamburger {
      display: none;
    }
  }
  

  

@media  (max-width: 400px) {
  .terminal {
    font-size: 13px; 
  }

  .terminal-output div {
    font-size: 15px; 
  }
}


@media (min-width: 400px) {
  .mobile-hamburger {
    display: none;
  }
}




