* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testProp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testProp .modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}
