*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  gap: 40px;
  margin-top: 60px;
}

.qr{
  width: 240px;
  height: 240px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 220px;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.label{
  font-weight: 700;
}

.info{
  width: 520px;
  height: 48px;
  border: 2px solid rgb(204, 204, 204);
  background-color: rgb(245, 245, 245);
  padding: 0 10px;
  outline: none;
  font-weight: 700;
  font-size: 1.2em;
}

.clickable-icon {
  transform: translate(490px, -32px);
  color: rgb(94, 94, 94);
  cursor: pointer;
}

.copy{
  font-weight: 400;
  color: gray;
  cursor: pointer;
}

.submit-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 200px;
  border: 6px solid rgb(219, 77, 30);
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.submit-btn:hover{
  background-color: rgb(219, 77, 30);
  color: white;
  
}