@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.repetitiveTasks{
  background: var(--color3); 
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 40px;
  align-items: start;
  justify-content: start;

}

.title{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  .task-table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(151, 151, 151, 0.8);
   }

.tbl-content {
  overflow: auto;
  max-height: 65vh;
  margin-top: 0px;
  border: 1px solid rgba(151, 151, 151, 0.8);
}
.task-table th,
.task-table td {
  color:#fff;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  white-space: normal; 
}
    
@media (max-width: 767px) {
  .task-table th,
  .task-table td {
    padding: 5px;
    word-wrap: break-word;
    font-size: 14px;
  }
}

  /* Styles for the label */
  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }


  .tbl-content{
    height:65vh;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(151,151,151,0.8);
  }
  th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
   
  .button-column {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les boutons */
    width: 200px; /* Largeur fixe pour la colonne */
  }
  
  /* Common button styles */
.common-button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  width: 120px; /* Set a fixed width */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;

}

.common-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.common-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

/* Apply specific colors to different buttons */
.button-1 {
  background-color: #CB2027;
}

.button-1:hover {
  background-color: #af1e1e;
}


.button-3 {
  background-color: #2ea44f;
}

.button-3:hover {
  background-color: #2c974b;
}