/* Styles.css */
.history-container {
  font-family: "Roboto", sans-serif;
  background: var(--color3);
  width: 90%;
  margin: 0 auto; /* Centrer le contenu horizontalement */
  padding: 20px; /* Ajouter de l'espace autour du contenu */
}

.horizontal-container {
  width: 100%;
  align-items: center;
  display: flex;
  margin: 2% 0; /* Ajouter un espacement vertical */
}

.right-section {
  margin-left: auto;
  display: flex;
  color: #fff;
}

.search-bar {
  width: 30%;
  display: flex;
  margin-right: auto;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.search-input {
  flex: 1;
  border: none;
  font-size: 14px;
  outline: none;
  background-color: transparent;

}

.custom-icon {
  color: black;
  margin: 3%;
}
.custom-icon1 {
  color: black;
  margin-right: 2%;

}
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Colonnes adaptables avec une largeur minimale de 300px */
  gap: 20px;
  margin: 5% 0;
}

.box {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}



