
.ImageUpload {
    justify-content: space-around;
    gap:80px ;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.ImageUpload .profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid var(--color3);
}



  .ImageUpload .confirm:hover{
    cursor: pointer;
    background-color: var(--color2);
  
  }
  

  
  /* Styles for the actual file input element */
  .ImageUpload .file-input {
    display: none;
  }
  
  /* Styles for the custom button-like element */
  .ImageUpload .file-input-label, .ImageUpload .confirm {
    background: #6b5c80;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 52px;
    border: 1px solid white;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .ImageUpload .file-input-label:hover {
    background-color: var(--color2);
  }
  

  .ImageUpload .button_label-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 0px;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 768px) {

  .ImageUpload .button_label-container{
    flex-direction: column;
    gap: 10px;
  }
  .ImageUpload .profile {
    margin-right:0px ;
}
  .ImageUpload .file-input-label {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 1.1em;
  }
  .ImageUpload .confirm {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 1.1em;
  }
  
}

@media screen and (max-width: 600px) {
  .ImageUpload{
    gap: 40px;
  }

  .ImageUpload .profile {
    width: 100px;
    height: 100px;
}
.ImageUpload .file-input-label, .ImageUpload .confirm {

  width: 100px;
  height: 42px;
  font-size: 0.8em;
  
}
}