
.ImageUpload {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}


.ImageUpload .profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid var(--color3);
    filter: drop-shadow(0 0 7px var(--color2));
    margin-right:110px ;
}


.ImageUpload .confirm {
    background: #6b5c80;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 52px;
    border-color: white;
    font-size: 1.1em;
  }


  .ImageUpload .confirm:hover{
    cursor: pointer;
    background-color: var(--color2);
  
  }
  
  /* Styles for the file input container */
  .ImageUpload .file-input-container {
    position: relative;
    display: inline-block;
  }
  
  /* Styles for the actual file input element */
  .ImageUpload .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Styles for the custom button-like element */
  .ImageUpload .file-input-label {
    background: #6b5c80;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 52px;
    border: 1px solid white;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .ImageUpload .file-input-label:hover {
    background-color: var(--color2);
  }
  

  .ImageUpload .button_label-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}


@media screen and (max-width: 768px) {

  .ImageUpload .button_label-container{
    flex-direction: column;
  }
  .ImageUpload .profile {
    margin-right:0px ;
}
  .ImageUpload .file-input-label {
    padding-left: 5px;
    padding-right: 10px;
    width: 90%;
    font-size: 1.1em;
  }
  .ImageUpload .confirm {
    padding-left: 5px;
    padding-right: 10px;
    width: 90%;
    font-size: 1.1em;
  }
  
}