.accountdetails {
  font-family: "Roboto", sans-serif;
  background: var(--color3); 
  width: 100vw;
  height: 100vh;

} 
.accountdetails .form {
  background-color: #ffffff;
  transform: translateY(100px);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}

.accountdetails h1 {
  font-size: 32px;
  font-weight: bold;
  color: rgb(2, 2, 17);
  font-family: 'Montserrat', sans-serif;
}



.accountdetails .text-center {
  text-align: center;
}


.accountdetails .tab-content {
  padding: 20px;
}

.accountdetails .form-group {
  margin-bottom: 1.5rem;
}

.accountdetails .form-control {
  width: 100%;
  height: 35px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}


.accountdetails .section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.accountdetails .input-container {
  margin-bottom: 10px;
}

.accountdetails .input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.accountdetails .input-container input,
.input-container select {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.accountdetails .input-container select {
  appearance: none;
  -webkit-appearance: none;
  background-position: right 8px center;
  background-size: 16px;
  padding-right: 25px;
}

.accountdetails textarea.form-control {
  resize: none;
  height: auto;
}

.accountdetails .custom-radio {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
}

.accountdetails .radio-label {
  margin-right: 10px; 
}


.accountdetails .custom-radio:checked {
  border-color: rgb(3, 3, 16);
}

.accountdetails .account-link {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.accountdetails .account-link img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}


.accountdetails .google-account-link {
  color: black;
}

.accountdetails .github-account-link {
  color: black;
}

.accountdetails .account-links-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px;
}

.accountdetails .account-links-container .account-link {
  display: inline-block;
  margin-right: 5px;
}

.accountdetails .account-links-container .account-link:not(:last-child) {
  margin-right: 10px;
}

.accountdetails .account-links-container .account-link::after {
  content: "|";
  margin-left: 10px;
}

.accountdetails .account-links-container .account-link:last-child::after {
  content: none;
}

.accountdetails .account-links-container .account-link:first-child {
  border-left: none;
}

.accountdetails .account-links-container .account-link:last-child {
  border-right: none;
} 
.confirm {
  background: #6b5c80;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 52px;
  border-color: white;
  font-size: 1.1em;

}
.confirm:hover{
  cursor: pointer;
  background-color: var(--color2);

}

.button-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.first-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.on-off-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--color2);
  border-radius: 10px;
  padding: 5px;
}

.on-off-input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.on-off-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.on-off-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.4s;
}

.on-off-input:checked + .on-off-label {
  background: var(--color2);
}

.on-off-input:checked + .on-off-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.on-off-label:active:after {
  width: 70px;
}

.on-off-container .icons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: #2AABEE;
}


/* .toggle-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #adadad; 
  color: #fff; 
  border: none;
  border-radius: 1000px; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 0px;



}
.toggle-container {
  display: flex;
  justify-content: flex-end; 
  margin-right: 0px; 
}

.toggle-button.on {
  background-color: #2ECC71; 
} */