.accountdetails {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(45deg, var(--color1) , var(--color2)); 
  width: 100vw;
  height: 100vh;

} 
.accountdetails .form {
  background-color: #ffffff;
  transform: translateY(100px);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}

.accountdetails h1 {
  font-size: 32px;
  font-weight: bold;
  color: rgb(2, 2, 17);
  font-family: 'Montserrat', sans-serif;
}



.accountdetails .text-center {
  text-align: center;
}


.accountdetails .tab-content {
  padding: 20px;
}

.accountdetails .form-group {
  margin-bottom: 1.5rem;
}

.accountdetails .form-control {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}


.accountdetails .section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.accountdetails .input-container {
  margin-bottom: 10px;
}

.accountdetails .input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.accountdetails .input-container input,
.input-container select {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.accountdetails .input-container select {
  appearance: none;
  -webkit-appearance: none;
  background-position: right 8px center;
  background-size: 16px;
  padding-right: 25px;
}

.accountdetails textarea.form-control {
  resize: none;
  height: auto;
}

.accountdetails .custom-radio {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
}

.accountdetails .radio-label {
  margin-right: 10px; 
}


.accountdetails .custom-radio:checked {
  border-color: rgb(3, 3, 16);
}

.accountdetails .account-link {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.accountdetails .account-link img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}


.accountdetails .google-account-link {
  color: black;
}

.accountdetails .github-account-link {
  color: black;
}

.accountdetails .account-links-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.accountdetails .account-links-container .account-link {
  display: inline-block;
  margin-right: 5px;
}

.accountdetails .account-links-container .account-link:not(:last-child) {
  margin-right: 10px;
}

.accountdetails .account-links-container .account-link::after {
  content: "|";
  margin-left: 10px;
}

.accountdetails .account-links-container .account-link:last-child::after {
  content: none;
}

.accountdetails .account-links-container .account-link:first-child {
  border-left: none;
}

.accountdetails .account-links-container .account-link:last-child {
  border-right: none;
} 
.confirm {
  background: #6b5c80;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 52px;
  border-color: white;
  font-size: 1.1em;

}
.confirm:hover{
  cursor: pointer;
  background-color: var(--color2);

}

.toggle-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #adadad; /* Green background for OFF state */
  color: #fff; /* White text for OFF state */
  border: none;
  border-radius: 1000px; /* Fully rounded */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 300px; /* Add right margin for spacing */



}
.toggle-container {
  display: flex;
  justify-content: flex-end; /* Aligns the content to the right */
  margin-right: 20px; /* Add right margin for spacing */
}

.toggle-button.on {
  background-color: #2ECC71; /* Lighter green background for ON state */
}


