 /* .App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Rubik;
}

.fill {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px ;
}

.sessionButton {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 17px;
}  */

.fix {
    display: flex;

}

.sidebar-container {
   display: flex;
   flex-direction: column;
   width: 20vw;
   transition: width 0.3s;
   padding: 20px;

}

.pages-container {
   flex-direction: column;
   padding: 20px;
    display: flex;
    width: 80vw;
    flex-grow: 1;
    transition: margin-left 0.3s;

}
.hamburger-icon {
   font-size: 20px;
   color: #212134;
   cursor: pointer;
}

.sidebar-closed {
   width: 1vw;
   padding: 20px;
   overflow: hidden; 
}

.pages-container-closed {
   width: 1vw;
   padding: 20px;
   overflow: hidden; 
}
.sidebar .sidebar-btn-re
{   display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: 52px;
    border: none;
    background-color: rgba(0, 0, 0, 0.639);
    padding-left: 10px;
    color: white;
    font-size: 1.1em;
    border-radius: 10px;
}
.chat{
   width: 90%;
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: start;
}
.icon {
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}
