 /* .App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Rubik;
}

.fill {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px ;
}

.sessionButton {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 17px;
}  */

.fix{
    display: flex;
    flex-direction: row;
}

.sidebar-container{
    display: flex;
    width: 20vw;
}

.pages-container{
    display: flex;
    width: 80vw;
}