.Completion h1 {
    color: #333;
}
.Completion .p{
    text-align: center;
    font-weight:300;
    color: #777777;

}
.Completion #verified-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
  }
