.Completion{
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Completion h1 {
    color: #333;
}
.Completion p{
    text-align: center;
    font-weight:300;
    color: #777777;
}
.Completion #verified-logo {
    width: 200px;
    height: 200px;
  }
