.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: whitesmoke;
  }
  
  .image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .error-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .error-code {
    font-size: 5rem;
    font-weight: bold;
    color: black;
  }
  
  .error-message {
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 1rem;
    white-space: pre-line;
  }
  
